<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="MediaCtrl">

<head class="ng-cloak">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Pragmatic Media">
    <meta name="keywords" content="Pragmatic Media, Ty and Slob, Piero Pretto">
    <meta class="ng-cloak" property="description" content="The Ty and Slob podcast brings a humorous yet serious morning-show style to talk about almost everything such as pop culture, trending topics in the internet and news, and much more. Let's look at the world from a pragmatic stance." />
    <meta property="og:image" content="http://tyandslob.com/images/logo.jpg"/>
    <meta class="ng-cloak" property="og:title" content="Ty and Slob: Now in Syndication - Media Library"/>
    <meta class="ng-cloak" property="The Ty and Slob podcast brings a humorous yet serious morning-show style to talk about almost everything such as pop culture, trending topics in the internet and news, and much more. Let's look at the world from a pragmatic stance." />
    <meta property="og:url" content="http://tyandslob.com/media_library.html"/>
    <meta property="og:site_name" content="http://tyandslob.com/media_library.html"/>
    <meta property="og:type" content="website"/>

    <title class="ng-cloak">{{web_title}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="business-media-library.css" rel="stylesheet">
    <link href="media_library.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Khula" rel="stylesheet" type='text/css'>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top custom-nav" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse float-right" id="bs-example-navbar-collapse-1">
                <ul role="list" class="nav navbar-nav">
                  <li role="listitem"><a alt="facebook link" role="link" href="https://www.facebook.com/tyandslob/"><i class="fa fa-facebook fa-1x"></i></a></li>
                  <li role="listitem"><a alt="twitter link" role="link" href="https://www.twitter.com/tyandslob"><i class="fa fa-twitter fa-1x"></i></a></li>
                  <li role="listitem"><a alt="instagram link" role="link" href="https://www.instagram.com/tyandslob/"><i class="fa fa-instagram fa-1x"></i></a></li>
                  <li role="listitem"><a alt="youtube link" role="link" href="https://www.youtube.com/channel/UClRdQ4lYE76r1BKYbZRvH0A"><i class="fa fa-youtube"></i></a></li>
                  <li role="listitem">
                      <a alt="link to home page" role="link" href="index.html">Home</a>
                  </li>
                  <li role="listitem">
                      <a alt="link to shop page" role="link" href="http://teechip.com/fan-tool">Shop</a>
                  </li>
                  <li role="listitem">
                      <a alt="link to contact page" role="link" href="contact.html">Contact</a>
                  </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
    </nav>

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header"id="mediaContainer">
        <div class="container">
            <div  role="contentinfo" class="row banner_content col-lg-12">
                  <br>
                  <br>
                  <br>
                  <div role="list" class="ng-cloak" id="mediaPlayer">
                    <div id="playerHeading">
                      <span role="listitem">Ty And Slob | </span><span>{{banner.title}}</span>
                    </div>
                    <div title="video iframe container" class="embed-responsive embed-responsive-16by9" ng-bind-html="banner.iframe">
                    </div>
                    <div id="playerDescription">
                      <span role="listitem">
                       {{banner.description}}
                      </span>
                    </div>
                  </div>
                  <br>
                  <br>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <br>
        <br>

        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div role="main" class="col-lg-8 col-md-7 col-sm-12 col-xs-12" id="main">
              <div>
                <h2>Media Library</h2>
                <hr>
              </div>
              <div role="list" class="ng-cloak" ng-repeat="media in library" class="media_item col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id={{media.id}} class="col-lg-2 col-md-2 col-sm-2 col-xs-4" style="padding-top:10px;">
                  <a role="button" href="#" alt="Play button link"><img style="max-width:95%;" src="images/play_button.png" class="img-fluid mediaButton" alt="Play button image" ng-click="displayMedia(media._id)"></a>
                </div>
                <div style="min-height:210px" class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                  <h2 role="listitem">{{media.title}}</h2>
                  <p role="listitem">{{media.description}}</p>
                  <br>
                </div>
              </div>
            <br>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 marketing-container">
                <h2>Connect With Us</h2>
                <hr>
                <div class="thumbnail">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:80px;">
                      <div class="col-md-12 .col-md-offset-6">
                        <ul role="list" class="social">
                          <li role="listitem" class="facebook"><a alt="facebook link" role="link" href="https://www.facebook.com/tyandslob/"><i class="fa fa-facebook fa-3x"></i></a></li>
                          <li role="listitem"class="twitter"><a alt="twitter link" role="link" href="https://www.twitter.com/tyandslob"><i class="fa fa-twitter fa-3x"></i></a></li>
                          <li role="listitem" class="pinterest"><a alt="youtube link" role="link" href="https://www.youtube.com/channel/UClRdQ4lYE76r1BKYbZRvH0A"><i class="fa fa-youtube fa-3x"></i></a></li>
                          <li role="listitem" class="behance"><a alt="instagram link" role="link" href="https://www.instagram.com/tyandslob/"><i class="fa fa-instagram fa-3x"></i></a></li>
                        </ul>

                      </div>
                    </div>
                  </div>
                  <div style="text-align:center;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
                      <p class="tagline">Pragmatic Media LLC</p>
                      <img id="logoImg" alt="logo" src="images/logo.jpg" style="width:95%;">
                    </div>
                    <div ng-controller="EmailCtrl" class="caption col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h2>Don't Miss A Thing</h2>
                      <p>Subscribe to your email list to get the lastest content, special annoucements and exclusive material directly to your inbox!</p>
        `             <br>
                      <div role="form" title="email submission form" id="formContainer">
                        <form ng-submit="submitEmail()" class="form-inline">
                          <div class="form-group">
                            <input aria-label="email subscribe" ng-model="email" placeholder=" Email" type="email" class="form-control">
                          </div>
                          <button role="button" name="email" id="emailButton" type="submit" class="btn btn-default">Sign Up</button>
                        </form>
                      </div>
                      <br>
                    </div>
                    <br>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <hr>
          <footer>
              <div class="row">
                  <div>
                      <p>Copyright &copy; <a href="http://pieropretto.com">Piero Pretto 2017</a></p>
                  </div>
              </div>
          </footer>
        </div>
    </div>

    <!-- jQuery -->
    <script src="vendor/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/js/bootstrap.min.js"></script>
    <script src="vendor/js/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>
